.title{
 font-weight : bold;   
 font-size : 2.0rem;
}

.header{
    background-color: #eeebeb;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.headerContainer{
    display : flex;
    justify-content:  space-between;
    padding : 20px 10px 20px 20px;
    box-sizing: border-box;
}

.buttonContainer a{
    box-sizing: border-box;
    font-size : 0.9rem;
    align-items: center;
    cursor : pointer;
    height : 35px;
    text-align: center;
    padding : 5px 10px;
    background-color: white;
    border : 1px solid #CCCCCC;
    text-decoration: none;
    color : black;
}

.buttonFirst{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.buttonLast{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}



.time{
    margin-top : 18px;
    text-align: right;
    font-size: 14px;
    box-sizing: border-box;

}

.body{
    padding : 16px 10px 10px 25px;
    white-space: pre-wrap;
    box-sizing: border-box;
}

.flex{
    display : flex;
}

.margin_bottom_10px{
    margin-bottom: 10px;
}

.textarea{
    flex : 1;
    height : 20rem;
}

.saveBtnContainer{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.saveBtn{
    padding : 5px 7px;
    cursor: pointer;
    background-color: #B04E17;
    border-radius: 5px;
    color : white;
    border : none;
    font-size: 15px;
    
}

ul a{
    color : blue;
}


.historyList li{
    list-style : circle; 
    
    margin-bottom : 10px;
}


#red{
    color : white;
    background-color: #D9534F;
}

.loginTitle{
    background-color: white;
}

.loginBody{
    margin-top : 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loginBodyContainer{
    margin : 0 auto;
}

.loginInput{
    display: flex;
    flex-direction: column;
}

.loginInput input{
    width : 400px;
    height: 30px;
    margin-top : 15px;
    margin-bottom : 15px;
}





.loginSecondLine{
    display: flex;
    justify-content: space-between;
    margin-bottom : 15px;
}

.loginBtn{
    display: flex;
    justify-content: end;

}

.loginBtn a {
    text-decoration: none;
    border : 1px solid #CCCCCC;
    color : black;
    margin-right : 10px;
    padding : 5px 5px;
    font-size : 15px;
    border-radius : 5px;
    padding-top :7px;


}

.loginBtn button{
    border-radius : 5px;
    background-color: #B04E17;
    color : white;
    border : none;
    padding : 5px 5px;
    font-size : 15px;
    cursor: pointer;
}


.margin_right_10px{
    margin-right: 10px;
}

.mypageBody{
    margin-top: 20px;
}

.mypageBody li{
    margin-bottom : 20px;
}

.mypageBody li span{
    margin-right : 15px;
}

.mypageBody a{
    text-decoration: none;
    color : white;
    background-color:cadetblue;
    padding : 4px;
    border-radius: 10px;
}   

.deleteBtn{
    margin-top : 10px;
}

.delete{
    margin-right : 10px;
}

.loginInput{
    font-size : 20px;
    font-weight: 600;
}